/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/**
 * Flexible Media
 */
img,
video,
object,
svg,
iframe {
  max-width: 100%;
  border: none;
  display: block;
}

img {
  height: auto;
}

svg {
  max-height: 100%;
}

picture,
picture img {
  display: block;
}

picture img {
  margin-left: auto;
  margin-right: auto;
}

figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

figcaption a {
  display: block;
}

/*------------------------------------*\
    $RATIO CONTAINERS
\*------------------------------------*/

.u-image__1x1,
.u-image__4x3 {
  overflow: hidden;
  background-color: RGB(var(--color-background-darker));

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

// 4:3 ratio
.u-image__1x1 {
  padding-top: 100%;
}

// 4:3 ratio
.u-image__4x3 {
  padding-top: 75%;
}

// crop to fit
.u-image__crop {
  img {
    max-width: fit-content;
    max-height: fit-content;
    height: fit-content;
    width: fit-content;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}

/*------------------------------------*\
    $PRINT STYLES
\*------------------------------------*/

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: RGB(var(--color-text-print)) !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid RGB(var(--color-border-standard));
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
    height: auto;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .no-print,
  .c-main-header,
  .c-main-footer,
  .o-ad {
    display: none !important;
  }
}
