.sbdocs-xsmall-container {
    max-width: 400px;
}

.sbdocs-small-container {
    max-width: 768px;
}

.sbdocs-medium-container {
    max-width: 1240px;
}

.sbdocs-large-container {
    max-width: 100%;
}

.sbdocs-container-margin {
    margin: 0;
}

 // styles for the "Introduction To Radial" cards

.cards {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-left: 0 !important;
  }
  
  .cards__item {
    display: flex;
    max-width: 400px;
    min-height: 300px;
    padding: 2rem;
    @media(min-width: 40rem) {
      width: 40%;
    }
    @media(min-width: 56rem) {
      width: 33.3333%;
    }
  }
  
  .card {
    border-radius: 1px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
  .card__title {
    font-weight: 700;
    padding-bottom: 10px;
  }
  
  .card__text {
    flex: 1 1 auto;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  

.colors > div {
    height: 100px;
    width: 250px;
    display: inline-block;
    margin: 0 1rem 1rem 0;
}

.colors > div span {
    padding: 10px;
    background: white;
}

/* background colors */
.u-background-color--cool-white {
    background: RGB(var(--color-cool-white));
}
.u-background-color--ceramic-blue {
    background: RGB(var(--color-ceramic-blue));
}
.u-background-color--concrete {
    background: RGB(var(--color-concrete));
}
.u-background-color--ember-red {
    background: RGB(var(--color-ember-red));
}
.u-background-color--cool-blue {
    background: RGB(var(--color-cool-blue));
}
.u-background-color--sky-blue {
    background: RGB(var(--color-sky-blue));
}
.u-background-color--sea-green {
    background: RGB(var(--color-sea-green));
}
.u-background-color--bright-purple {
    background: RGB(var(--color-bright-purple));
}
.u-background-color--gray {
    background: RGB(var(--color-gray));
}
.u-background-color--light-gray {
    background: RGB(var(--color-light-gray));
}
.u-background-color--dark-gray {
    background: RGB(var(--color-dark-gray));
}

/* some border styles for border examples */
.sbdocs.sbdocs-border-subtle {
    width: 100%;
    border-bottom: var(--border-subtle);
}
.sbdocs.sbdocs-border-standard {
    width: 100%;
    border-bottom: var(--border-standard);
}
.sbdocs.sbdocs-border-bold {
    width: 100%;
    border-bottom: var(--border-bold);
}
