.sbdocs-xsmall-container {
    max-width: 400px;
}

.sbdocs-small-container {
    max-width: 768px;
}

.sbdocs-medium-container {
    max-width: 1240px;
}

.sbdocs-large-container {
    max-width: 100%;
}

.sbdocs-container-margin {
    margin: 0;
}

.intro-box {
    width: 100%;
    max-width: 926px;
    border-radius:5px;
    padding:24px;
    margin:16px;
    box-shadow: 2px 2px 10px grey;
}

.intro-spacer {
    height: 54px;
}

.intro-header {
    margin: 20px 0 8px;
    padding: 0;
    cursor: text;
    position: relative;
    color: #333333;
    font-size: 24px !important;
    padding-bottom: 4px;
}

.intro-icon {
    float: right;
}

.intro-linkroll {
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 680px;
}

.colors > div {
    height: 100px;
    width: 250px;
    display: inline-block;
    margin: 0 1rem 1rem 0;
}

.colors > div span {
    padding: 10px;
    background: white;
}

/* background colors */
.u-background-color--cool-white {
    background: RGB(var(--color-cool-white));
}
.u-background-color--ceramic-blue {
    background: RGB(var(--color-ceramic-blue));
}
.u-background-color--concrete {
    background: RGB(var(--color-concrete));
}
.u-background-color--ember-red {
    background: RGB(var(--color-ember-red));
}
.u-background-color--cool-blue {
    background: RGB(var(--color-cool-blue));
}
.u-background-color--sky-blue {
    background: RGB(var(--color-sky-blue));
}
.u-background-color--sea-green {
    background: RGB(var(--color-sea-green));
}
.u-background-color--bright-purple {
    background: RGB(var(--color-bright-purple));
}
.u-background-color--gray {
    background: RGB(var(--color-gray));
}
.u-background-color--light-gray {
    background: RGB(var(--color-light-gray));
}
.u-background-color--dark-gray {
    background: RGB(var(--color-dark-gray));
}

/* some border styles for border examples */
.sbdocs.sbdocs-border-subtle {
    width: 100%;
    border-bottom: var(--border-subtle);
}
.sbdocs.sbdocs-border-standard {
    width: 100%;
    border-bottom: var(--border-standard);
}
.sbdocs.sbdocs-border-bold {
    width: 100%;
    border-bottom: var(--border-bold);
}
