/*------------------------------------*\
    $THEME OVERRIDES
\*------------------------------------*/

body {
  overflow-x: hidden;
}

main {
  background: linear-gradient(180deg, RGB(var(--color-red), 1) 20.82%, RGB(var(--color-blue), 1) 50.8%);
  margin-top: 70px;
}

a {
  padding-bottom: var(--space-1);
  border-bottom: solid 2px RGB(var(--color-white));
  transition: var(--animation-duration-standard);
}

h1, h2, h3, h4, h5 {
  // Use lining figures instead of text figures for headers
  // https://www.codesmite.com/article/fixing-raleway-and-similar-fonts-numerals
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.l-container {
  width: calc(100% - var(--space-4) - var(--space-4));
  @include media(">xlarge") {
    width: 100%;
  }
}

.dots {
  opacity: .5;
  background-image: radial-gradient(RGB(var(--color-white), .6) 2px, transparent 2px), radial-gradient(RGB(var(--color-white), .6) 2px, transparent 2px);
  background-position: 35px 0, 35px 35px;
  background-size: 35px 35px;
}

.header-dots {
  width: 1200px;
  max-width: 100%;
  height: 340px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
}

.wnyc-card-styles {
  background: linear-gradient(180deg, RGB(43, 111, 153, 0.49) 0%, RGB(43, 111, 153, 0.17) 100%), #191716;
  border-radius: 6px;
  position: relative;

  &:after {
    content: '';
    height: 8px;
    width: calc(100% - 40px);
    background: RGB(var(--color-primary-1), 1);
    border-radius: 0 0 6px 6px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    @include media(">=medium") {
      width: calc(100% - 64px);
    }
  }
}

// buttons
.button {
  transition: var(--animation-duration-standard);
}

.whats-on .whats-on-show .play-button,
.c-main-header .button,
.c-main-header .button::before {
  box-shadow: 0px 4px 8px RGBA(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 0 var(--space-6);
  height: 41px;
  line-height: 41px;
}

.c-main-header .button .button-label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: var(--font-size-6);
  color: var(--color-red);
}

// header
.c-main-header,
.c-main-header__inner {
  background: RGB(var(--color-red));
}

.c-main-header__inner {
  padding: var(--space-4);
  @include media(">=medium") {
    padding: var(--space-2) var(--space-2) var(--space-2) var(--space-4);
  }
}

// header logo
.c-main-header a svg {
  fill: RGB(var(--color-white));
}

.c-main-header {
  background: RGB(var(--color-red));
}

.c-main-header a:hover svg {
  opacity: var(--opacity-hover);
  fill: RGB(var(--color-white));
}

// header nav
.c-primary-nav {
  width: 100%;
  padding-left: var(--space-5);
}

.c-primary-nav--top .c-primary-nav__link {
  padding: 0;
  @include typeface(body, 6);
}

.c-primary-nav__link .c-primary-nav-link__text {
  font-weight: 700;
}

.c-main-header .c-secondary-nav__list {
  width: 100%;
  text-align: left;
}

// header donate button
.c-main-header__donate {
  color: RGB(var(--color-red));

  &:hover {
    background: RGB(var(--color-white));
    color: RGB(var(--color-red));
  }

  @include media("<medium") {
    margin-right: 0;
  }
}

// Footer
.c-main-footer {
  background: linear-gradient(180deg, RGB(var(--color-blue, 1)) 0%, RGB(var(--color-dark-blue, 1)) 100%), #191716;
  padding: 50px 0;
  margin-bottom: 0;
}

.c-main-footer a,
.c-main-footer p {
  @include typeface(body, 5);
}

.c-main-footer .l-container {
  padding: 50px 16px;
}

.c-main-footer .c-secondary-nav__subheader-spacer {
  margin-top: 3px;
  @include media(">medium") {
    margin-top: 52px;
  }
}

.c-main-footer .c-secondary-nav__subheader {
  @include media(">medium") {
    margin-top: 49px;
  }
}

.c-secondary-nav__link {
  color: RGB(var(--color-white));
  font-size: var(--font-size-6);
  font-weight: 700;

  &:hover {
    color: RGB(var(--color-white), var(--opacity-hover));
  }
}

.c-main-footer .c-secondary-nav__subheader {
  @include typeface(subheader, 8);
}

.c-main-footer .c-main-footer__secondary-nav .c-secondary-nav__item {
  margin-bottom: var(--space-3);
}

.c-main-footer .c-main-footer__left-component a,
.c-main-footer .c-share-tools__link {
  border: none;
}

.c-main-footer .c-main-footer__left-component svg path,
.c-main-footer .c-main-footer__left-component svg polygon {
  fill: RGB(var(--color-white));
}

.c-main-footer .c-share-tools__link:hover path,
.c-main-footer a:hover svg {
  fill: RGB(var(--color-white), var(--opacity-hover));
}

.c-main-footer__terms-links {
  margin-top: var(--space-3);
  @include media(">xlarge") {
    margin-top: 0;
  }
}

.c-main-footer__terms-links a {
  width: fit-content;
  margin: 0 auto var(--space-3);
  padding: 0;
  @include media(">large") {
    padding: 0 0 var(--space-1);
    margin: 0 var(--space-3) var(--space-3) 0;
  }
  @include media(">large") {
    margin: 0 var(--space-3) 0 0;
  }
}

.jlgreen-box {
  @include media("<large") {
    flex-direction: column;
  }
}

.o-text-with-icon {
  @include media("<large") {
    display: inline-flex;
    align-items: flex-start;
  }
}

.o-text-with-icon > *:last-child {
  @include media("<large") {
    margin-left: 0px;
  }
}

.jlgreen-message {
  white-space: nowrap;
}

// brands popup

.ember-basic-dropdown-content {
  border-radius: 3px;
}

.ember-basic-dropdown-content a {
  color: RGB(var(--color-red));

  &:hover {
    color: RGB(var(--color-red));
    opacity: var(--opacity-hover);
  }
}

// main player
.main-player {
  @extend .wnyc-card-styles;
  margin: auto;
}

.main-player-details-link {
  text-decoration: none;
  border: none;
  padding: 0;
}

.main-player .live-indicator .whats-on-live-indicator-text {
  font-size: var(--font-size-4);
  font-weight: 700;
}

.main-player .live-indicator {
  color: RGB(var(--color-text));
}

.main-player .main-player-title {
  color: RGB(var(--color-text));
  font-weight: 600;
  font-size: var(--font-size-12);
  line-height: 42px;
  position: relative;
  margin-top: var(--space-3);
}

.main-player img {
  border-radius: 3px;
}

.main-player .button {
  width: fit-content;
  padding: 0 37px;
  height: 51px;
  background: RGBA(var(--color-primary-1), 1);
  border-radius: 30px;
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 1;
    background: RGBA(var(--color-primary-1), 1);
    transform: translateY(-4px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, .15);
  }

  svg,
  path,
  rect {
    fill: RGB(var(--color-text));
  }
}

.main-player .button .button-label {
  color: RGB(var(--color-white));
  text-transform: uppercase;
  font-size: var(--font-size-7);
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0.09em;
  text-align: center;
}

.main-player .button svg path {
  fill: RGB(var(--color-text));
}

// persistent player
.persistent-player {
  --color-text: var(--color-white);
  --color-text-inverse: var(--color-black);
  background-color: RGB(var(--color-almost-black));
  height: 112px;
}

.persistent-player .player-cta-play-button {
  padding: 0 16px 0 8px;
  color: RGB(var(--color-text));
  background: RGB(var(--color-red));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  height: 47px;
  justify-content: flex-start;
  transition: all 0.1s ease-in-out;
}

.persistent-player .player-cta-play-button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, .15);
}

.persistent-player .player-cta-play-button .button-text {
  font-family: var(--font-family-body);
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size-7);
  line-height: 47px;
  letter-spacing: 0.09em;
}

.track-info-livestream-indicator {
  background: transparent;
  color: RGB(var(--color-text));
}

.track-info-livestream-indicator-text {
  margin-right: 2px;
}

.track-info-livestream-station {
  // Use lining figures instead of text figures
  // https://www.codesmite.com/article/fixing-raleway-and-similar-fonts-numerals
  -webkit-font-feature-settings: "lnum";
  -moz-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
}

.track-info-image {
  --track-info-image-size: 96px;
}

.track-info-title {
  font-family: var(--font-family-body);
}

.track-info-title h2 {
  line-height: 1.25;
}

.track-info-description {
  font-size: var(--font-size-4);
}

.track-info-title-link,
.track-info-description-link {
  text-decoration: none;
  border: none;
}

// stream switcher
.stream-switcher {
  padding-left: var(--space-4);
  @include media(">xlarge") {
    padding-left: 0;
  }
}

.stream-switcher-card {
  border-radius: 3px;
}

// on today's show
.on-todays-show {
  color: RGB(var(--color-text));

  @media only screen and (min-width: 1215px) { // 1215 is about the width of the container plus the 1 col breakout
    margin-right: calc((var(--max-width) / 16) * -1);
  }
}

.on-todays-show .on-todays-show-title {
  position: relative;
  @include typeface(body, 9);
  font-weight: bold;
  margin-bottom: var(--space-3);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    margin-left: 20px;
    height: 2px;
    width: 100%;
    top: 50%;
    background: RGB(var(--color-cool-white));
    opacity: .2;
  }
}

.on-todays-show .on-todays-show-headline {
  @include typeface(header, 10);
  font-weight: normal;
}

.on-todays-show .on-todays-show-headline a {
  border: none;
}

.on-todays-show .accordion-icon path,
.on-todays-show .segment-list-item-icon path {
  fill: RGB(var(--color-text));
}

.on-todays-show .segment-list {
  text-align: center;
}

.on-todays-show .segment-list .segment-list-item {
  text-align: left;
}

.on-todays-show .segment-list .button {
  box-shadow: 0px 4px 8px RGBA(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 0 var(--space-6);
  min-width: 318px;
  height: 41px;
  line-height: 41px;

  &:hover {
    background-color: RGB(var(--color-white));
  }
}

.on-todays-show .segment-list .button-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-4);
  color: RGB(var(--color-blue));
}

.image-with-caption-credit a {
  border: none;
  padding: 0;
}

.on-todays-show .on-todays-show-right {
  position: relative;
  margin-bottom: var(--space-6);
  text-align: right;
  @include media(">xlarge") {
    width: 100%;
    margin-bottom: 0;
  }
}

.on-todays-show .image-with-caption {
  z-index: 10;
  text-align: left;
}

.on-todays-show .dots {
  width: 100%;
  position: absolute;
  height: 250px;
  right: -45px;
  top: 120px;
  @include media(">xlarge") {
    height: 330px;
  }
}
